[Unit]
Description=Nextcloud AIO container
Requires=podman.socket


[Container]
ContainerName=nextcloud-aio-mastercontainer
Image=docker.io/nextcloud/aio-nextcloud:latest
#Image=docker.io/nextcloud/all-in-one:latest

PublishPort=127.0.0.1:11001:8080/tcp
#PublishPort=8080:8080/tcp
#PublishPort=8443:8443/tcp

Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:Z
Volume=nextcloud_aio_mastercontainer:/mnt/docker-aio-config


Environment="TZ=/etc/localtime"
Environment="PGID=1000"
Environment="PUID=1000"

Environment=APACHE_PORT=11000
Environment=APACHE_IP_BINDING=127.0.0.1
Environment=WATCHTOWER_DOCKER_SOCKET_PATH=/run/user/1001/podman/podman.sock

HostName=bumblebee

AutoUpdate=registry
# --privileged equivalent
#Unmask=all
SecurityLabelDisable=true
AddCapability=all
SeccompProfile=unconfined

#Or you can do
#PodmanArgs=--privileged

[Service]
Restart=always

[Install]
WantedBy=default.target
