[Unit]
Description=Copy movies from toCopy to ToFix for processing
After=local-fs.target

[Service]
Type=oneshot
User=matteo
ExecStart=/home/matteo/toCopyProcessor.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=toCopy-processor

[Install]
WantedBy=multi-user.target
