[Unit]
OnFailure=notify-failure@%n.service
OnSuccess=notify-success@%n.service
Description=Cloud Drive Sync - Google Drive sync daemon
Requires=network-online.target

[Container]
ContainerName=cloud-drive-sync
Image=ghcr.io/ciberkids/cloud-drive-sync:latest
PublishPort=8090:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/matteo/docker_persistent/cloud-drive-sync/config:/root/.config/cloud-drive-sync:Z
Volume=/home/matteo/docker_persistent/cloud-drive-sync/data:/root/.local/share/cloud-drive-sync:Z
Volume=/home/matteo/gdrive-sync:/data/gdrive-sync:Z

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.cloud-drive-sync.rule=Host(`cloud-drive-sync.bumblebee.favarohome.com`)
Label=traefik.http.routers.cloud-drive-sync.entrypoints=websecure
Label=traefik.http.routers.cloud-drive-sync.tls.certresolver=cloudflare
Label=traefik.http.services.cloud-drive-sync.loadbalancer.server.port=8080

[Service]
Restart=always

[Install]
WantedBy=default.target
