[Unit]
OnFailure=notify-failure@%n.service
Description=ComfyUI Image Generation (FLUX)
Requires=network-online.target

[Container]
ContainerName=comfyui
Image=docker.io/mmartial/comfyui-nvidia-docker:latest
PublishPort=8188:8188
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/matteo/docker_persistent/comfyui/run:/comfy/mnt:Z
Volume=/home/matteo/docker_persistent/comfyui/basedir:/basedir:Z
Environment="WANTED_UID=1000"
Environment="WANTED_GID=1000"
Environment="BASE_DIRECTORY=/basedir"
AddDevice=nvidia.com/gpu=all

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.comfyui.rule=Host(`comfyui.bumblebee.favarohome.com`)
Label=traefik.http.routers.comfyui.entrypoints=websecure
Label=traefik.http.routers.comfyui.tls.certresolver=cloudflare
Label=traefik.http.services.comfyui.loadbalancer.server.port=8188

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
