[Unit]
OnFailure=notify-failure@%n.service
OnSuccess=notify-success@%n.service
Description=File Browser container
Requires=network-online.target

[Container]
ContainerName=filebrowser
Image=docker.io/filebrowser/filebrowser:s6
PublishPort=8585:80
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/matteo/docker_persistent/filebrowser/database:/database:Z
Volume=/home/matteo/docker_persistent/filebrowser/config:/config:Z
Volume=/mnt/data:/srv/data:Z
Volume=/mnt/downloads:/srv/downloads:Z
Volume=/mnt/MovieAndTvShows:/srv/media:Z
Volume=/home/matteo:/srv/home:Z
Volume=/home/matteo/openclaw-workspace:/srv/openclaw-workspace:Z

Environment=TZ=/etc/localtime
Environment=PGID=1000
Environment=PUID=1000

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.filebrowser.rule=Host(`filebrowser.bumblebee.favarohome.com`)
Label=traefik.http.routers.filebrowser.entrypoints=websecure
Label=traefik.http.routers.filebrowser.tls.certresolver=cloudflare
Label=traefik.http.services.filebrowser.loadbalancer.server.port=80

[Service]
Restart=always

[Install]
WantedBy=default.target
