[Unit]
Description=Send Telegram notification on service success

[Service]
Type=oneshot
ExecStart=/usr/local/bin/telegram-send --config /etc/telegram-send.conf "[bumblebee] Service %i started successfully"
