[Unit]
Description=OpenClaw AI Agent
Requires=network-online.target
Requires=ollama.service
After=ollama.service

[Container]
ContainerName=openclaw
Image=ghcr.io/openclaw/openclaw:latest
PublishPort=18789:18789
SecurityLabelDisable=true
PodmanArgs=--group-add 0
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/podman/podman.sock:/var/run/docker.sock
Volume=/home/matteo/openclaw-workspace:/home/node/.openclaw/workspace:rw
Volume=/home/matteo/docker_persistent/openclaw/config:/home/node/.openclaw:rw
Environment="LLM_MODEL=ollama/qwen2.5-coder:7b"
Environment="LLM_BASE_URL=http://192.168.1.14:11434"
Environment="OLLAMA_BASE_URL=http://192.168.1.14:11434"
Environment="OPENCLAW_HOST=0.0.0.0"
Environment="TZ=Europe/Zurich"

AutoUpdate=registry


[Service]
Restart=always

[Install]
WantedBy=default.target
