[Unit]
OnFailure=notify-failure@%n.service
Description=Open WebUI (ChatGPT-like interface for Ollama)
Requires=network-online.target
Requires=ollama.service
After=ollama.service

[Container]
ContainerName=open-webui
Image=ghcr.io/open-webui/open-webui:main
PublishPort=3000:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/matteo/docker_persistent/open-webui:/app/backend/data:rw,Z
Environment="OLLAMA_BASE_URL=http://192.168.1.14:11434"
Environment="ENABLE_RAG_WEB_SEARCH=true"
Environment="RAG_WEB_SEARCH_ENGINE=searxng"
Environment="SEARXNG_QUERY_URL=http://192.168.1.14:8888/search?q=<query>&format=json"

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.openwebui.rule=Host(`chat.bumblebee.favarohome.com`)
Label=traefik.http.routers.openwebui.entrypoints=websecure
Label=traefik.http.routers.openwebui.tls.certresolver=cloudflare
Label=traefik.http.services.openwebui.loadbalancer.server.port=8080

[Service]
Restart=always

[Install]
WantedBy=default.target
