[Unit]
OnFailure=notify-failure@%n.service
Description=Paperless-NGX Apache Tika text extractor
Requires=network-online.target

[Container]
ContainerName=paperless-tika
Network=paperless.network
Image=docker.io/apache/tika:latest
Volume=/etc/localtime:/etc/localtime:ro

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
