[Unit]
OnFailure=notify-failure@%n.service
OnSuccess=notify-success@%n.service
Description=SearXNG Meta Search Engine
Requires=network-online.target

[Container]
ContainerName=searxng
Image=docker.io/searxng/searxng:latest
PublishPort=8888:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/matteo/docker_persistent/searxng/settings.yml:/etc/searxng/settings.yml:Z

Environment=SEARXNG_LIMITER=false
Environment=SEARXNG_SECRET=searxng_bumblebee_secret_key_2026

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.searxng.rule=Host(`search.bumblebee.favarohome.com`)
Label=traefik.http.routers.searxng.entrypoints=websecure
Label=traefik.http.routers.searxng.tls.certresolver=cloudflare
Label=traefik.http.services.searxng.loadbalancer.server.port=8080

[Service]
Restart=always

[Install]
WantedBy=default.target
