[Unit]
Description=Stirling PDF - PDF manipulation tool
Requires=network-online.target

[Container]
ContainerName=stirling-pdf
Image=docker.io/stirlingtools/stirling-pdf:latest
PublishPort=8484:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/matteo/docker_persistent/stirling-pdf/data:/usr/share/tessdata:Z
Volume=/home/matteo/docker_persistent/stirling-pdf/config:/configs:Z
Volume=/home/matteo/docker_persistent/stirling-pdf/logs:/logs:Z

Environment=SECURITY_ENABLELOGIN=false
Environment=SYSTEM_DEFAULTLOCALE=en-US

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.stirling-pdf.rule=Host(`stirling-pdf.bumblebee.favarohome.com`)
Label=traefik.http.routers.stirling-pdf.entrypoints=websecure
Label=traefik.http.routers.stirling-pdf.tls.certresolver=cloudflare
Label=traefik.http.services.stirling-pdf.loadbalancer.server.port=8080

[Service]
Restart=always

[Install]
WantedBy=default.target
