[Unit]
Description=Traefik reverse proxy with HTTPS
Requires=network-online.target

[Container]
ContainerName=traefik
Image=docker.io/traefik:latest
PublishPort=80:80
PublishPort=443:443
PublishPort=8080:8080

Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/matteo/docker_persistent/traefik/traefik.yml:/etc/traefik/traefik.yml:Z
Volume=/home/matteo/docker_persistent/traefik/dynamic.yml:/etc/traefik/dynamic.yml:Z
Volume=/home/matteo/docker_persistent/traefik/acme.json:/etc/traefik/acme.json:Z
Volume=/var/run/podman/podman.sock:/var/run/docker.sock
SecurityLabelDisable=true

Environment=TZ=/etc/localtime
Environment=CF_DNS_API_TOKEN=***REDACTED_CF_DNS_TOKEN***
AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.traefik_dashboard.rule=Host(`traefik.bumblebee.favarohome.com`)
Label=traefik.http.routers.traefik_dashboard.entrypoints=websecure
Label=traefik.http.routers.traefik_dashboard.tls.certresolver=cloudflare
Label=traefik.http.routers.traefik_dashboard.service=api@internal

[Service]
Restart=always

[Install]
WantedBy=default.target
