[Unit]
OnFailure=notify-failure@%n.service
Description=AFFiNE Knowledge Base
Requires=affine-postgres.service
Requires=affine-redis.service
After=affine-postgres.service
After=affine-redis.service

[Container]
ContainerName=affine
Image=ghcr.io/toeverything/affine:stable
Network=affine.network
Network=podman
PublishPort=3010:3010
Volume=/mnt/data/docker_persistent/affine/config:/root/.affine/config:rw
Volume=/mnt/data/docker_persistent/affine/storage:/root/.affine/storage:rw
Volume=/mnt/data/docker_persistent/affine/start.sh:/start.sh:ro

Environment="NODE_ENV=production"
Environment="AFFINE_SERVER_HTTPS=true"
Environment="AFFINE_SERVER_EXTERNAL_URL=https://affine.optimusprime.favarohome.com"
Environment="REDIS_SERVER_HOST=affine-redis"
EnvironmentFile=/etc/containers/secrets/affine.env

Exec=/bin/sh /start.sh

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.affine.rule=Host(`affine.optimusprime.favarohome.com`)
Label=traefik.http.routers.affine.entrypoints=websecure
Label=traefik.http.routers.affine.tls.certresolver=cloudflare
Label=traefik.http.services.affine.loadbalancer.server.port=3010

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
