[Unit]
Description=Amule Container
Requires=network-online.target

[Container]
ContainerName=amule
Image=docker.io/tchabaud/amule:latest
PublishPort=4711:4711
PublishPort=4662:4662
PublishPort=4672:4672
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/amule/conf:/home/amule/.aMule:Z
Volume=/mnt/downloads/amule_incoming:/incoming:Z
Volume=/mnt/data/docker_persistent/amule/tmp:/temp
Environment="WEBUI_TEMPLATE=AmuleWebUI-Reloaded"
Environment="TZ=/etc/localtime"
Environment="PUID=1000"
Environment="PGID=1000"

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.amule.rule=Host(`amule.optimusprime.favarohome.com`)
Label=traefik.http.routers.amule.entrypoints=websecure
Label=traefik.http.routers.amule.tls.certresolver=cloudflare
Label=traefik.http.services.amule.loadbalancer.server.port=4711
[Service]
Restart=no

[Install]
WantedBy=default.target
