[Unit]
OnFailure=notify-failure@%n.service
Description=Cloud Drive Sync - Google Drive sync daemon
Requires=network-online.target

[Container]
ContainerName=cloud-drive-sync
Image=ghcr.io/ciberkids/cloud-drive-sync:1.3.0
PublishPort=8090:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/cloud-drive-sync/config:/root/.config/cloud-drive-sync
Volume=/mnt/data/docker_persistent/cloud-drive-sync/data:/root/.local/share/cloud-drive-sync
Volume=/mnt/data/gdrive-sync:/data/gdrive-sync
Volume=/mnt/data/docker_persistent/opensign/files:/data/opensign-files

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.cloud-drive-sync.rule=Host(`cloud-drive-sync.optimusprime.favarohome.com`)
Label=traefik.http.routers.cloud-drive-sync.entrypoints=websecure
Label=traefik.http.routers.cloud-drive-sync.tls.certresolver=cloudflare
Label=traefik.http.services.cloud-drive-sync.loadbalancer.server.port=8080

[Service]
Restart=always

[Install]
WantedBy=default.target
