[Unit]
OnFailure=notify-failure@%n.service
Description=File Browser container
Requires=network-online.target

[Container]
ContainerName=filebrowser
Image=docker.io/filebrowser/filebrowser:s6
PublishPort=8585:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/filebrowser/database:/database:rw
Volume=/mnt/data/docker_persistent/filebrowser/config:/config:rw
Volume=/mnt/data:/srv/data:rw
Volume=/mnt/downloads:/srv/downloads:rw
Volume=/mnt/MovieAndTvShows:/srv/media:rw
Volume=/home/matteo:/srv/home:rw
Environment="TZ=/etc/localtime"
Environment="PGID=1000"
Environment="PUID=1000"

AutoUpdate=registry

HealthCmd=CMD-SHELL curl -sf -o /dev/null http://localhost:8080/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s
HealthOnFailure=restart

Label=traefik.enable=true
Label=traefik.http.routers.filebrowser.rule=Host(`filebrowser.optimusprime.favarohome.com`)
Label=traefik.http.routers.filebrowser.entrypoints=websecure
Label=traefik.http.routers.filebrowser.tls.certresolver=cloudflare
Label=traefik.http.services.filebrowser.loadbalancer.server.port=8080

[Service]
Restart=always

[Install]
WantedBy=default.target
