[Unit]
OnFailure=notify-failure@%n.service
Description=Firefox browser in a container
Requires=network-online.target

[Container]
ContainerName=firefox
Image=lscr.io/linuxserver/firefox:latest
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/firefox/config:/config:rw

Environment=TZ=Europe/Zurich
Environment=PUID=1000
Environment=PGID=1000
EnvironmentFile=/etc/containers/secrets/firefox.env

PodmanArgs=--shm-size=1g

AutoUpdate=registry

HealthCmd=CMD-SHELL curl -sf -o /dev/null http://localhost:3000/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s
HealthOnFailure=restart

Label=traefik.enable=true
Label=traefik.http.routers.firefox.rule=Host(`firefox.optimusprime.favarohome.com`)
Label=traefik.http.routers.firefox.entrypoints=websecure
Label=traefik.http.routers.firefox.tls.certresolver=cloudflare
Label=traefik.http.services.firefox.loadbalancer.server.port=3000

[Service]
Restart=always

[Install]
WantedBy=default.target
