[Unit]
Description=Firefly III personal finance manager
Requires=network-online.target
After=firefly-iii-db.service

[Container]
ContainerName=firefly-iii
Network=firefly-iii.network
Image=docker.io/fireflyiii/core:latest
PublishPort=8006:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/firefly-iii/upload:/var/www/html/storage/upload:rw

Environment=APP_ENV=production
Environment=APP_DEBUG=false
Environment=SITE_OWNER=matteo@favarohome.com
Environment=APP_KEY=7qxetsQMSDzvoFqmNK8kkyRXDOeqsNwK
Environment=DEFAULT_LANGUAGE=en_US
Environment=DEFAULT_LOCALE=equal
Environment=TZ=Europe/Zurich
Environment=TRUSTED_PROXIES=**
Environment=APP_URL=https://firefly.optimusprime.favarohome.com
Environment=DB_CONNECTION=mysql
Environment=DB_HOST=firefly-iii-db
Environment=DB_PORT=3306
Environment=DB_DATABASE=firefly
Environment=DB_USERNAME=firefly
Environment=DB_PASSWORD=f1r3fly_db_2026
Environment=STATIC_CRON_TOKEN=xK9mPq2vR7wL4nBf8jT6hY3cA5eG1dZ

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.firefly.rule=Host(`firefly.optimusprime.favarohome.com`)
Label=traefik.http.routers.firefly.entrypoints=websecure
Label=traefik.http.routers.firefly.tls.certresolver=cloudflare
Label=traefik.http.services.firefly.loadbalancer.server.port=8080

[Service]
Restart=always

[Install]
WantedBy=default.target
