[Unit]
OnFailure=notify-failure@%n.service
Description= Handbrake Container
Requires=network-online.target

[Container]
ContainerName=handbrake
Image=lscr.io/linuxserver/handbrake:latest
PublishPort=6800:3000
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/handbrake:/config:rw
Volume=/mnt/MovieAndTvShows/ToFix:/data:ro
Volume=/mnt/MovieAndTvShows/ToFix/handbreakOutput:/output:rw
AddDevice=/dev/dri/renderD128

Environment=TZ=Europe/Zurich
Environment=PUID=1000
Environment=PGID=1000
Environment=LIBVA_DRIVER_NAME=radeonsi

AutoUpdate=registry

HealthCmd=CMD-SHELL curl -sf -o /dev/null http://localhost:3000/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s
HealthOnFailure=restart

Label=traefik.enable=true
Label=traefik.http.routers.handbrake.rule=Host(`handbrake.optimusprime.favarohome.com`)
Label=traefik.http.routers.handbrake.entrypoints=websecure
Label=traefik.http.routers.handbrake.tls.certresolver=cloudflare
Label=traefik.http.services.handbrake.loadbalancer.server.port=3000
[Service]
Restart=always

[Install]
WantedBy=default.target
