[Unit]
OnFailure=notify-failure@%n.service
Description=Home Assistant (HA) container

Requires=network-online.target
Requires=timescaledb.service
After=timescaledb.service

[Container]
ContainerName=home_assistant
Image=ghcr.io/home-assistant/home-assistant:stable
PublishPort=8123:8123
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/home_assistant:/config:rw
Volume=/run/dbus:/run/dbus:ro
ShmSize=1g
Environment="TZ=/etc/localtime"

AutoUpdate=registry
Environment="PGID=1000"
Environment="PUID=1000"

Unmask=all  
SecurityLabelDisable=true  
AddCapability=all  
SeccompProfile=unconfined

Label=traefik.enable=true
Label=traefik.http.routers.home_assistant.rule=Host(`homeassistant.optimusprime.favarohome.com`)
Label=traefik.http.routers.home_assistant.entrypoints=websecure
Label=traefik.http.routers.home_assistant.tls.certresolver=cloudflare
Label=traefik.http.services.home_assistant.loadbalancer.server.port=8123
[Service]
Restart=always

[Install]
WantedBy=default.target
