[Unit]
OnFailure=notify-failure@%n.service
Description=Immich Server
Requires=immich-redis.service
Requires=immich-database.service

[Container]
ContainerName=immich-server
Pod=immich.pod
Image=ghcr.io/immich-app/immich-server:release
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/immich/upload:/usr/src/app/upload:rw
Volume=/mnt/data/Matteo_And_Manu/Pictures:/usr/src/app/external/photos:ro
Environment="TZ=/etc/localtime"
Environment="DB_USERNAME=postgres"
Environment="DB_PASSWORD=immich_db_password"
Environment="DB_DATABASE_NAME=immich"
Environment="DB_HOSTNAME=localhost"
Environment="REDIS_HOSTNAME=localhost"

AddDevice=/dev/dri

AutoUpdate=registry

HealthCmd=CMD-SHELL curl -sf -o /dev/null http://localhost:2283/api/server/ping || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=120s
HealthTimeout=10s
HealthOnFailure=restart


[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
