[Unit]
Description=Jellyfin Media Server container
Requires=network-online.target

[Container]
ContainerName=jellyfin
Image=docker.io/linuxserver/jellyfin:latest
PublishPort=8096:8096
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/jellyfin:/config:rw
Volume=/mnt/MovieAndTvShows/TvShows:/data/tvshows:ro
Volume=/mnt/MovieAndTvShows/Movies:/data/movies:ro
Volume=/mnt/data/Matteo_And_Manu/Pictures:/data/photos:ro
Environment="TZ=/etc/localtime"
Environment="PGID=1000"
Environment="PUID=1000"
Environment="JELLYFIN_PublishedServerUrl=https://jellyfin.optimusprime.favarohome.com"

AddDevice=/dev/dri

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.jellyfin.rule=Host(`jellyfin.optimusprime.favarohome.com`)
Label=traefik.http.routers.jellyfin.entrypoints=websecure
Label=traefik.http.routers.jellyfin.tls.certresolver=cloudflare
Label=traefik.http.services.jellyfin.loadbalancer.server.port=8096

[Service]
Restart=always

[Install]
WantedBy=default.target
