[Unit]
Description=Make MKV container
Requires=network-online.target

[Container]
ContainerName=makemkv
Image=docker.io/jlesage/makemkv:latest
PublishPort=7900:5800
PublishPort=8900:5900
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/makemkv:/config:rw
Volume=/mnt/MovieAndTvShows/ToFix:/storage:ro
Volume=/mnt/MovieAndTvShows/ToFix/makemkvOutput:/output:rw

Environment="TZ=/etc/localtime"

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.makemkv.rule=Host(`makemkv.optimusprime.favarohome.com`)
Label=traefik.http.routers.makemkv.entrypoints=websecure
Label=traefik.http.routers.makemkv.tls.certresolver=cloudflare
Label=traefik.http.services.makemkv.loadbalancer.server.port=5800
[Service]
Restart=always

[Install]
WantedBy=default.target
