[Unit]
Description=Periodically guard against reboots during RAID rebuilds

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min

[Install]
WantedBy=timers.target
