[Unit]
Description=MQTT Explorer container
Requires=network-online.target

[Container]
ContainerName=mqtt-explorer
Image=docker.io/smeagolworms4/mqtt-explorer:latest
PublishPort=4000:4000

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/mqtt-explorer/config:/mqtt-explorer/config:rw

Environment="TZ=/etc/localtime"

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.mqtt_explorer.rule=Host(`mqtt-explorer.optimusprime.favarohome.com`)
Label=traefik.http.routers.mqtt_explorer.entrypoints=websecure
Label=traefik.http.routers.mqtt_explorer.tls.certresolver=cloudflare
Label=traefik.http.services.mqtt_explorer.loadbalancer.server.port=4000
[Service]
Restart=always

[Install]
WantedBy=default.target
