[Unit]
Description=Nextcloud container
Requires=network-online.target

[Container]
ContainerName=nextcloud
Image=docker.io/linuxserver/nextcloud:latest
PublishPort=8443:443
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/nextcloud:/config:rw
Environment="TZ=/etc/localtime"
Environment="PGID=1000"
Environment="PUID=1000"

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.nextcloud.rule=Host(`nextcloud.optimusprime.favarohome.com`)
Label=traefik.http.routers.nextcloud.entrypoints=websecure
Label=traefik.http.routers.nextcloud.tls.certresolver=cloudflare
Label=traefik.http.services.nextcloud.loadbalancer.server.port=443
Label=traefik.http.services.nextcloud.loadbalancer.server.scheme=https
Label=traefik.http.services.nextcloud.loadbalancer.serversTransport=insecureTransport@file
Label=traefik.http.routers.nextcloud-public.rule=Host(`nextcloud.public.favarohome.com`)
Label=traefik.http.routers.nextcloud-public.entrypoints=websecure
Label=traefik.http.routers.nextcloud-public.tls.certresolver=cloudflare
Label=traefik.http.routers.nextcloud-public.service=nextcloud

[Service]
Restart=always

[Install]
WantedBy=default.target
