[Unit]
OnFailure=notify-failure@%n.service
Description=OpenSign Web Client
Requires=network-online.target
After=opensign-server.service

[Container]
ContainerName=opensign-client
Network=opensign.network
Image=docker.io/opensign/opensign:main
PublishPort=3001:3000
Volume=/etc/localtime:/etc/localtime:ro

Environment=REACT_APP_SERVERURL=https://opensign-api.optimusprime.favarohome.com/app
Environment=PUBLIC_URL=https://opensign.optimusprime.favarohome.com

AutoUpdate=registry

HealthCmd=CMD-SHELL curl -sf -o /dev/null http://localhost:3000/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s
HealthOnFailure=restart

Label=traefik.enable=true
Label=traefik.http.routers.opensign.rule=Host(`opensign.optimusprime.favarohome.com`)
Label=traefik.http.routers.opensign.entrypoints=websecure
Label=traefik.http.routers.opensign.tls.certresolver=cloudflare
Label=traefik.http.services.opensign.loadbalancer.server.port=3000

[Service]
Restart=always

[Install]
WantedBy=default.target
