[Unit]
Description=OpenSign API Server
Requires=network-online.target
After=opensign-db.service

[Container]
ContainerName=opensign-server
Network=opensign.network
Image=docker.io/opensign/opensignserver:main
PublishPort=8081:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/opensign/files:/app/files:rw

Environment=MONGODB_URI=mongodb://opensign-db:27017/OpenSignDB
Environment=SERVER_URL=https://opensign-api.optimusprime.favarohome.com/app
Environment=PUBLIC_URL=https://opensign.optimusprime.favarohome.com
Environment=MASTER_KEY=***REDACTED***
Environment=USE_LOCAL=true

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.opensign-server.rule=Host(`opensign-api.optimusprime.favarohome.com`)
Label=traefik.http.routers.opensign-server.entrypoints=websecure
Label=traefik.http.routers.opensign-server.tls.certresolver=cloudflare
Label=traefik.http.services.opensign-server.loadbalancer.server.port=8080

[Service]
Restart=always

[Install]
WantedBy=default.target
