[Unit]
OnFailure=notify-failure@%n.service
Description=Prometheus Monitoring
Requires=network-online.target
Requires=influxdb.service
After=influxdb.service

[Container]
ContainerName=prometheus
Image=quay.io/prometheus/prometheus:latest
PublishPort=9092:9090
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
Volume=/mnt/data/docker_persistent/prometheus/data:/prometheus:rw

AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.prometheus.rule=Host(`prometheus.optimusprime.favarohome.com`)
Label=traefik.http.routers.prometheus.entrypoints=websecure
Label=traefik.http.routers.prometheus.tls.certresolver=cloudflare
Label=traefik.http.services.prometheus.loadbalancer.server.port=9090

[Service]
Restart=always

[Install]
WantedBy=default.target
