[Unit]
OnFailure=notify-failure@%n.service
Description=Radarr container
Requires=network-online.target

[Container]
ContainerName=radarr
Image=docker.io/linuxserver/radarr:latest
PublishPort=7878:7878
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/radarr:/config:rw
Volume=/mnt/MovieAndTvShows/Movies:/movies:rw
Volume=/mnt/downloads/transmission:/downloads

Environment=TZ=Europe/Zurich
Environment="PGID=1000"
Environment="PUID=1000"
Environment="DOTNET_SYSTEM_NET_DISABLEIPV6=1"

AutoUpdate=registry

HealthCmd=CMD-SHELL curl -sf -o /dev/null http://localhost:7878/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=120s
HealthTimeout=10s
HealthOnFailure=restart

Label=traefik.enable=true
Label=traefik.http.routers.radarr.rule=Host(`radarr.optimusprime.favarohome.com`)
Label=traefik.http.routers.radarr.entrypoints=websecure
Label=traefik.http.routers.radarr.tls.certresolver=cloudflare
Label=traefik.http.services.radarr.loadbalancer.server.port=7878

[Service]
Restart=always

[Install]
WantedBy=default.target
