[Unit]
OnFailure=notify-failure@%n.service
Description=Prometheus SMART Disk Exporter
Requires=network-online.target

[Container]
ContainerName=smartctl-exporter
Image=quay.io/prometheuscommunity/smartctl-exporter:latest
PublishPort=9633:9633
Volume=/etc/localtime:/etc/localtime:ro
PodmanArgs=--privileged
Volume=/dev:/dev:rw
SecurityLabelDisable=true
User=root
AddCapability=SYS_RAWIO SYS_ADMIN
Exec=--smartctl.device-exclude=^(loop|ram|nbd)

AutoUpdate=registry

HealthCmd=CMD-SHELL curl -sf -o /dev/null http://localhost:9633/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s
HealthOnFailure=restart

[Service]
Restart=always

[Install]
WantedBy=default.target
