[Unit]
Description=TimescaleDB container
Requires=network-online.target

[Container]
ContainerName=timescaleDB
Image=docker.io/timescale/timescaledb-ha:pg16
PublishPort=5432:5432
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/timescaledb/data:/home/postgres/pgdata/data:rw
ShmSize=1g

Environment="TZ=/etc/localtime"

AutoUpdate=registry
Environment="PGID=1000"
Environment="PUID=1000"
Environment="POSTGRES_USER=timescaledb"
Environment="POSTGRES_PASSWORD=timescaledb"

[Service]
Restart=always

[Install]
WantedBy=default.target
