[Unit]
Description=Traefik reverse proxy with HTTPS
Requires=network-online.target

[Container]
ContainerName=traefik
Image=docker.io/traefik:latest
PublishPort=80:80
PublishPort=443:443
PublishPort=8080:8080

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/traefik/traefik.yml:/etc/traefik/traefik.yml
Volume=/mnt/data/docker_persistent/traefik/dynamic.yml:/etc/traefik/dynamic.yml
Volume=/mnt/data/docker_persistent/traefik/acme.json:/etc/traefik/acme.json
Volume=/var/run/podman/podman.sock:/var/run/docker.sock

Environment=TZ=/etc/localtime
Environment=CF_DNS_API_TOKEN=cfut_JrO99ZQxBkpiu9OsgkCTFoYdOkJl8iJ5ZgQaQOMHd40989d5
AutoUpdate=registry

Label=traefik.enable=true
Label=traefik.http.routers.traefik_dashboard.rule=Host(`traefik.optimusprime.favarohome.com`)
Label=traefik.http.routers.traefik_dashboard.entrypoints=websecure
Label=traefik.http.routers.traefik_dashboard.tls.certresolver=cloudflare
Label=traefik.http.routers.traefik_dashboard.service=api@internal
[Service]
Restart=always

[Install]
WantedBy=default.target
