[Unit]
Description=Node RED container
Requires=network-online.target

[Container]
ContainerName=node-red
Image=docker.io/nodered/node-red:latest
PublishPort=1880:1880
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/node-red:/data:rw

Environment="TZ=/etc/localtime"

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
