[Unit]
Description=Plex container
Requires=network-online.target

[Container]
ContainerName=plex
Image=docker.io/plexinc/pms-docker:latest

PublishPort=32400:32400/tcp
PublishPort=3005:3005/tcp
PublishPort=8324:8324/tcp
PublishPort=32469:32469/tcp
PublishPort=1900:1900/udp
PublishPort=32410:32410/udp
PublishPort=32412:32412/udp
PublishPort=32413:32413/udp
PublishPort=32414:32414/udp

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/plex-data:/config
Volume=/mnt/MovieAndTvShows/TvShows:/data/tvshows
Volume=/mnt/MovieAndTvShows/Movies:/data/movies
Volume=/mnt/data/Matteo_And_Manu/Pictures/:/data/photos
Volume=/mnt/downloads/plexTranscoding:/transcode

Environment="TZ=/etc/localtime"
Environment="PGID=1000"
Environment="PUID=1000"
Environment="PLEX_CLAIM="claim-BSPNHvxh4GPunoENuQZ_"
Environment="ADVERTISE_IP=http://192.168.1.10:32400/"

HostName=optimusprime

AddDevice=/dev/dri

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
