[Unit]
Description=Sonarr container
Requires=network-online.target

[Container]
ContainerName=sonarr
Image=docker.io/linuxserver/sonarr:latest
PublishPort=8989:8989
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/sonarr:/config:rw
Volume=/mnt/MovieAndTvShows/TvShows:/tv:rw
Volume=/mnt/downloads/transmission:/downloads

Environment="TZ=/etc/localtime"
Environment="PGID=1000"
Environment="PUID=1000"

AutoUpdate=registry

Label="traefik.http.routers.sonarr.rule=PathPrefix(`/sonarr`)"

[Service]
Restart=always

[Install]
WantedBy=default.target
