[Unit]
Description=Tautulli (Plex Monitor) container
Requires=network-online.target

[Container]
ContainerName=tautulli
Image=ghcr.io/linuxserver/tautulli:latest
PublishPort=8181:8181
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/plex-data/tautulli:/config
Volume=/mnt/data/docker_persistent/plex-data/Library/Application Support/Plex Media Server/Logs:/logs:ro
Environment="TZ=/etc/localtime"
Environment="PGID=1000"
Environment="PUID=1000"

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
