[Unit]
Description=Zigbee2MQTT broker container
Requires=network-online.target

[Container]
ContainerName=zigbee2mqtt
Image=docker.io/koenkk/zigbee2mqtt:latest
PublishPort=8282:8282

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/zigbee2mqtt/data:/app/data:rw
Volume=/run/udev:/run/udev:ro

Environment="TZ=/etc/localtime"

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
