[Unit]
Description=MQTT-dashboard container
Requires=network-online.target

[Container]
# https://github.com/secanis/mqtt-dashboard

ContainerName=mqtt-dashboard
Image=docker.io/secanis/mqtt-dashboard:latest
PublishPort=3333:3333
Volume=/etc/localtime:/etc/localtime:ro

Environment="TZ=/etc/localtime"

Environment="REDIS_HOST=192.168.1.10"
Environment="REDIS_PORT=6379"
Environment="MQTT_HOST=192.168.1.10"
Environment="MQTT_PORT=1883"
Environment="MQTT_USERNAME=dashboard"
Environment="MQTT_PASSWORD=dashboard"
Environment="MQTT_PROTOCOL=mqtt"
Environment="MQTT_PROTOCOL_VERSION=5"

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
