[Unit]
Description=eclipse-mosquitto MQTT broker container
Requires=network-online.target

[Container]
ContainerName=mqtt5
Image=docker.io/library/eclipse-mosquitto:latest
PublishPort=1883:1883
PublishPort=9001:9001
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/docker_persistent/mqtt5/config:/mosquitto/config:rw
Volume=/mnt/data/docker_persistent/mqtt5/data:/mosquitto/data:rw
Volume=/mnt/data/docker_persistent/mqtt5/log:/mosquitto/log:rw


Environment="TZ=/etc/localtime"

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
