[Unit]
Description=Watch Tower podman container
Requires=network-online.target

[Container]
ContainerName=watchtower
Image=docker.io/containrrr/watchtower
PublishPort=8381:8080
Volume=/etc/localtime:/etc/localtime:ro
Volume=/var/run/podman/podman.sock:/var/run/docker.sock
Environment="TZ=/etc/localtime"

[Service]
#Restart=always

[Install]
WantedBy=default.target
